.comment_photo
  .image{ :style => "background: url('#{comment.url}') no-repeat 50% 0 transparent"}
.comment_body
  %h1
    = image_tag ('footer_klienci.png', :title => 'Klienci o mnie', :alt => 'Klienci o mnie')
  .text
    = comment.body
  .author
    = comment.author
