- if request.url =~ /contacts/
  %h5
    Formularz kontaktowy
    %br
    %span
      * - pola obowiązkowe
=# form_for(:contact, url: contacts_path, remote: true ) do |f|
= form_for @contact do |f|
  = render :partial => 'contacts/form', :locals => {:f => f}
  %p.button
    = f.submit "Wyślij"
.clearfix
