#comments
  = render partial: 'comments/comment', object: @comment
#quick_contact
  = render :partial => 'shared/quick_contact'
- unless contact_section?
  #contact_form
    %h3
      Napisz do mnie:
    = render :partial => 'shared/contact_form'
  .clearfix
