.text
  .element.separator
    %h1
      = image_tag "header_f_slubna2.png", :title => "Fotografia ślubna", :alt => "Fototgrafia ślubna"
    %p
      Zdjęcia prezentujące Wasze emocje: miłość, radość, wzruszenie, które towarzyszą Wam w tym wyjątkowym dniu. Fotografie, które zatrzymują te ważne chwile na zawsze....
  .element.separator
    %h1
      = image_tag "header_f_weselna2.png", :title => "Fotografia weselna", :alt => "Fototgrafia weselna"
    %p
      Delikatne i subtelne zjęcia, które pozostaną pamiatką z Waszego wesela, uchwycą wspaniałą zabawę i Waszą radość.
  .element
    %h1
      = image_tag "header_f_rodzinna2.png", :title => "Fotografia rodzinna", :alt => "Fototgrafia rodzinna"
    %p
      Dla każdego z Was rodzina jest na pewno najważniejsza, dlatego warto uchwycić wspaniałe chwile spedzone razem na profesjonalnych zdjęciach, aby móc powrócić do nich po wielu latach.