#headstrech
  %h1
    = image_tag "header_kontakt.png"

#teaser_text
  #container
    #contact_teaser
      %h5
        O mnie
      %p
        Fotografia to moja pasja.
        Zajmuję się tym od pewnego czasu, ciągle przychodzą mi do głowy nowe pomysły na ciekawe, niepowtarzalne i przede wszystkim dobre zdjęcia.
        Specjalizuję się w tematyce ślubnej, ale zajmuję się także fotografią  uroczystości okoliczniościowych, takich jak chrzest czy komunia.
        Jestem otwarty na Wasze sugestie i propozycje.

      %h5
        Kontakt
      %p
        Wszystkich, którzy chcą zatrzymać ważne chwile na zawsze, po to by móc powrócić do nich po wielu latach zapraszam do współpracy. Pracuję na terenie i w okolicy Kielc, ale jestem w stanie dostosować się do wymogów klienta. Zainteresowanych proszę o kontakt w celu zapoznania się ze szczegółami.
    #contact_form
      = render :partial => 'shared/contact_form'
    .clearfix 
