#headstrech {
  margin:0 auto;
  width:960px;
}

#contstrech {
  padding: 30px 0 0 0;
  background-repeat: no-repeat;
  background-position: 50% -1px;
  background-image: url(image-path("sunspot.png"));
  width:100%;
}

#contstrech.short {
  padding: 15px 0 0 0;  
}

#contstrech #teaser_text {
  padding: 15px 0 15px 0;
}

#container {
  min-height:280px;
  margin:0 auto;
  width:960px;
  position:relative;
}

#teasers {
  background-image: url(image-path("teaserbg.jpg"));
  background-position: bottom;
  background-repeat: repeat-x;
}

#teasers .section {
  float:left;
  width:280px;
  padding:0px 20px;
}

#teasers .section h1 {
  
}

#teaser_text {
  background: #f3f2f0 url(image-path("home_page_text_bg.gif")) repeat-x bottom;
}

#teaser_text .text {
  min-height:165px;
  padding:20px 0 0 0;
  margin:0 auto;
  width:960px;
}

#teaser_text .text .element {
  width:280px;
  padding: 0 20px;
  float:left;
}

#teaser_text .text .element p {
  padding: 0 20px;
}

#teaser_text .text .element.separator {
  background: url(image-path("home_page_text_separator.jpg")) no-repeat right center transparent;
}
