@import 'mixins';

$font-color-brown: rgba(65,30,15,1);
$font-color-light-brown: rgba(210,190,170,1);
$background-font: rgba(64,30,15,0.50);
$background-font-light: rgba(64,30,15,0.20);

/* MAIN MENU */

#menu ul.nav {
  position:absolute;
  right: 0px;
  top: 10px;
}

#menu ul.categories {
  position:absolute;
  top:81px;
  right:-39px;
}

#menu ul.nav li#start a,
#menu ul.nav li#about a,
#menu ul.nav li#contact a {
  display: block;
  outline: medium none;
}

/* NEW CONFIG */

#menu ul.nav li {
  float: right;
  dispaly: block;
  list-style-type: none;
  border-left: 1px dotted $font-color-brown;
}

#menu ul.nav li a {
  padding: 10px 10px 5px 10px;
  margin: 0px 5px;
  font-size: 1.5em;
  color: $font-color-brown;
  
  font-family: 'museo300';
  outline: none;
  overflow: hidden;
  
  text-shadow: 1px 1px 1px $font-color-light-brown;

  text-decoration: none;
  text-transform: uppercase;

  &:hover, &.selected {
    @include border-radius(4px);
    background-color: $background-font-light;
    text-shadow: none;
  }

}

/* SUB MENU */

#menu ul.categories li {
  display: inline;
}

#menu ul.categories  li a {
  float: left;
  outline: none;
}
