#frame {
  position:absolute;
  background: url("/images/frames_photos.png") no-repeat 0 0;
  z-index:99999;
  width:986px;
  height:280px;
  left:-9px;
  top:-15px;
}

.lSSlideOuter {
  background-color: white;
  padding: 10px;
  z-index:100;
  width:300px;
  height:220px;
  float: left;
}

.slides_container {
	width:300px;
	overflow:hidden;
	position:relative;
	display:none;
}

.slides_container img {
	width:300px;
	height:220px;
	display:block;
}
