#headstrech
  %h1
    = image_tag "header_o_mnie.png"

#teaser_text
  #container
    %h4
      Fotografia to moja pasja.
      %br
      Zajmuję się tym od pewnego czasu, ciągle przychodzą mi do głowy nowe pomysły na ciekawe, niepowtarzalne i przede wszystkim dobre zdjęcia.
      Specjalizuję się w tematyce ślubnej, ale zajmuję się także fotografią  uroczystości okoliczniościowych, takich jak chrzest czy komunia.
      Jestem otwarty na Wasze sugestie i propozycje.