#container
  #frame
  - @random_images.each_with_index do |images, i|
    %ul{ id: "slides_#{i}" }
      - images.each do |image|
        %li
          = image_tag image.medium_url, :alt => '', :size => '300x220'
        

:javascript
  
  $(document).ready(function() {

    var slider_0 = $('#slides_0');
    var slider_1 = $('#slides_1');
    var slider_2 = $('#slides_2');

    function startSlider(object) {
      object.lightSlider({
        autoWidth:true,
        loop:true,
        mode:'fade',
        pager: false,
        auto: true
      });
    }

    if (slider_0.children().length > 1) {
      startSlider(slider_0);
    }

    if (slider_1.children().length > 1) {
      startSlider(slider_1);
    }

    if (slider_2.children().length > 1) {
      startSlider(slider_2);
    }

  });
