#container
  #frame
  - @random_images.each_with_index do |images, i|
    %div{:class => 'aaaa', :id => "slides_#{i}"}
      .slides_container
        - images.each do |image|
          = image_tag image.medium_url, :alt => '', :size => '300x220'

:javascript
  $(function(){
    $('#slides_0').slides({
      generatePagination: false,
      preload: true,
      effect: 'fade, fade',
      play: 5000,
      randomize: true,
      pause: 2500,
      generateNextPrev: false,
      crossfade: true,
      preloadImage: 'images/loading.gif'
    });
  });
  $(function(){
    $('#slides_1').slides({
      generatePagination: false,
      preload: true,
      effect: 'fade, fade',
      play: 5000,
      randomize: true,
      pause: 2500,
      generateNextPrev: false,
      crossfade: true,
      preloadImage: 'images/loading.gif'
    });
  });
  $(function(){
    $('#slides_2').slides({
      generatePagination: false,
      preload: true,
      effect: 'fade, fade',
      play: 5000,
      randomize: true,
      pause: 2500,
      generateNextPrev: false,
      crossfade: true,
      preloadImage: 'images/loading.gif'
    });
  });