#headstrech
  %h1.category
    = @category.name    
#teaser_text
  #container
    #gallery
      = will_paginate @images
      - @images.each do |image|
        %div.image_box
          .img{ :style => "background: white url('#{image.small_url}') no-repeat 50% 50%"}
            = link_to '', image.url, class: "fancybox", rel: "group"
      .clearfix

:javascript

  $(document).ready(function() {
    $(".fancybox").fancybox();
  });
